{{- if .Values.webhook.enabled }}
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: {{ include "kagenti-webhook.fullname" . }}-agent-mutating-webhook-configuration
  {{- if .Values.certManager.enabled }}
  annotations:
    cert-manager.io/inject-ca-from: {{ include "kagenti-webhook.namespace" . }}/{{ include "kagenti-webhook.fullname" . }}-serving-cert
  {{- end }}
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: {{ include "kagenti-webhook.fullname" . }}-webhook-service
      namespace: {{ include "kagenti-webhook.namespace" . }}
      path: /mutate-agent-kagenti-dev-v1alpha1-agent
  failurePolicy: Fail
  name: magent-v1alpha1.kb.io
  rules:
  - apiGroups:
    - agent.kagenti.dev
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - agents
  sideEffects: None
{{- end }}
