{{- if .Values.webhook.enabled }}
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: {{ include "kagenti-webhook.fullname" . }}-authbridge-mutating-webhook-configuration
  {{- if .Values.certManager.enabled }}
  annotations:
    cert-manager.io/inject-ca-from: {{ include "kagenti-webhook.namespace" . }}/{{ include "kagenti-webhook.fullname" . }}-serving-cert
  {{- end }}
webhooks:
- name: inject.kagenti.io
  admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: {{ include "kagenti-webhook.fullname" . }}-webhook-service
      namespace: {{ include "kagenti-webhook.namespace" . }}
      path: /mutate-workloads-authbridge
  failurePolicy: Fail
  timeoutSeconds: 10
  sideEffects: None
  # The webhook handler will decide based on workload + namespace labels
  #
  namespaceSelector:
    matchExpressions:
      # Exclude kube-system and other critical namespaces
      - key: kubernetes.io/metadata.name
        operator: NotIn
        values:
          - kube-system
          - kube-public
          - kube-node-lease
          - {{ include "kagenti-webhook.namespace" . }}
      # trigger for namespaces not explicitly disabled
      - key: kagenti-enabled
        operator: NotIn
        values:
          - "false"
  rules:
  - operations:
    - CREATE
    - UPDATE
    apiGroups:
    - apps
    apiVersions:
    - v1
    resources:
    - deployments
    - statefulsets
    - daemonsets
  - operations:
    - CREATE
    - UPDATE
    apiGroups:
    - batch
    apiVersions:
    - v1
    resources:
    - jobs
    - cronjobs
{{- end }}
